<!DOCTYPE html>

<html lang="en">
  <% include ../layout/lay_site_1_head.ejs %>
  <body>
    <% include ../layout/lay_site_2_navigation.ejs %>

    <!-- CONTAINER: -->
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <br />
          <% include lay_myprofile_sidebar_left.ejs %>
        </div>

        <div class="col-lg-9">
          <!-- MAIN CONTENT HERE: -->

          <br />
          <H1>Мои заказы</H1>
          
          <% if (!transData.ordersArr.length) { %>
          <!--Empty order list: -->
          <H3>У Вас нет заказов</H3>
          <br />
          <form action="/shop">
            <button type="submit" class="btn btn-success">
              <span class="fas fa-gift avesomePaddingRight"></span>За покупками!
            </button>
          </form>
          <!--/Empty order list: -->
          <% } else { %>
          <!--Not Empty order list: -->

          <!-- ******************************************************************************** -->

          <%transData.ordersArr.forEach(function(order){ %>
            <br>
          <div class="accordion" id="orderAccordion">
            <div class="card border-success mb-3">
              <div class="card-header" id="heading<%=order._id%>">
                <div class="row">
                  <div class="col-lg-3">
                    <button
                      class="btn btn-primary"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapse<%=order._id%>"
                      aria-expanded="true"
                      aria-controls="collapse<%=order._id%>"
                    >
                      Заказ № <%=order._id%>
                    </button>
                  </div>
                  <div class="col-lg-7">
                    <% if (order.user.customer) { %><%=order.user.customer%><% }
                    %>
                  </div>
                  <div class="col-lg-2">
                    <%=order.createdAt.toISOString().substring(0, 10)%>
                  </div>
                </div>
                <% if (order.user.deliveryType) {%>
                <%=order.user.deliveryType%><br /><% } %> <% if
                (order.user.deliveryCity) {%> <%=order.user.deliveryCity%><% }
                %> <% if (order.user.deliveryDepartment) {%>
                <%=order.user.deliveryDepartment%><br /><% } %> <% if
                (order.user.paymentMethod) {%> <%=order.user.paymentMethod%><br /><%
                } %> <% if (order.user.ordercomment)
                {%><em>"<%=order.user.ordercomment%>"</em><% } %>
              </div>

              <div
                id="collapse<%=order._id%>"
                class="collapse"
                aria-labelledby="heading<%=order._id%>"
                data-parent="#orderAccordion"
              >
                <div class="card-body">
                  <div class="shopcart-items-table">
                    <!--Order ShopCart List -->
                    <% let totalSumm = 0; order.shopcart.forEach(function(item){
                    %>
                    <hr>
                    <div class="row shopcart-one-item-row">
                      <div class="col-lg-3">
                        <div class="border-primary">
                          <img
                            style="width: 100%; max-width: 200px; display: block;"
                            src="<%= item.picture_220x220 %>"
                            alt="<%= item.name %>"
                            onerror="this.style.display = 'none'"
                          />
                        </div>
                      </div>

                      <div class="col-lg-9">
                        <a href="/shop/<%= item.vendorCode %>">
                          <h6 class="card-title"><%= item.name %></h6>
                        </a>

                        <div class="row">
                          <div class="col-lg-6">
                            <h6 class="text-muted">
                              Артикул: <%= item.vendorCode %>
                            </h6>
                          </div>
                        </div>
                        <div class="shopcart-row-price-and-quantity">
                          <div class="row">
                            <div class="col-lg-4">
                              <div class="cart-uah"><%= item.price %> грн</div>
                            </div>

                            <div class="col-lg-4">
                              <div class="cart-amount btn-group">
                                <input
                                  type="number"
                                  min="1"
                                  max="<%= item.stock %>"
                                  step="1"
                                  name="<%= item.vendorCode %>"
                                  class="cart-line-amount-input"
                                  value="<%= item.quantity %>"
                                  disabled
                                />
                              </div>
                            </div>

                            <div class="col-lg-4">
                              <div
                                class="cart-list-newItemSumm jq-div-itemsumm<%= item.vendorCode %>"
                              >
                                <%= (item.quantity*item.price).toFixed(2) %> грн
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <% totalSumm += item.quantity*item.price %>
                    </div>
                    
                    <% }); %>
                    <hr>
                  </div>
                </div>
              
            </div>
            <div class="card-footer order-item-footer">
              <!-- Summ: -->
              <div class="row">
                <div class="col-lg-7">
                  <p>Позиций в заказе: <%= order.shopcart.length %></p>
                  <% if(transData.user.group == 'Administrator' || transData.user.group == 'Manager' || transData.user.group == 'Agent') { %>
                    <button name="orders-list-send-one" value="<%=order._id%>" type="button" class="btn btn-success btn-sm">
                      <i class="fa fa-share-square fa-fw"></i> Отправить
                    </button>

                    <button name="orders-list-edit-one" value="<%=order._id%>" type="button" class="btn btn-warning btn-sm">
                      <i class="fa fa-edit fa-fw"></i> Редактировать
                    </button>

                    <button name="orders-list-del-one" value="<%=order._id%>" type="button" class="btn btn-danger btn-sm">
                      <i class="fa fa-times fa-fw"></i> Удалить
                    </button>
                  <%}%>

                </div>
                <div class="col-lg-5">
                  <div class="cart-total-label">
                    <div class="cart-total-sum" name="total">
                      <span class="cart-total-title">Итого:</span>

                      <span class="cart-total-uah">
                        <span name="cost" id="cart-total"
                          ><%= totalSumm.toFixed(2) %></span
                        >
                        &nbsp; <span class="cart-total-uah-sign">грн</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /Summ: -->
            </div>
          </div>
          <%})%>
          <!-- ******************************************************************************** -->
          <!--/Not Empty order list: -->
          <% } %>
          <!-- /MAIN CONTENT -->
        </div>
      </div>
    </div>
    <!-- /CONTAINER: -->

    <% include ../layout/lay_site_4_bottomscripts.ejs %>
  </body>
</html>
