<!DOCTYPE html>

<html lang="en">
  <% include ../layout/lay_site_1_head.ejs %>
  <body>
    <% include ../layout/lay_site_2_navigation.ejs %>

    <!-- CONTAINER: -->
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <br />
          <% include lay_myprofile_sidebar_left.ejs %>
        </div>

        <div class="col-lg-9">
          <!-- MAIN CONTENT HERE: -->

          <br />
          <H1>Мой список желаний</H1>

          <% if (!transData.wishlist || !transData.wishlist.length) { %>
            <H2>Ваш список желаний пуст</H2>
            <%  } else { %>
          <% for (var i = 0; i<transData.wishlist.length; i++ ) {%>
  
          
  
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3">
                <div class="border-primary">
                  <img style="display: block; width: 100px" src="<%=transData.wishlist[i].picture %>"
                    alt="<%= transData.wishlist[i].name %>" onerror="this.style.display = 'none'" />
                </div>
              </div>
  
              <div class="col-lg-9">
                <a href="/shop/<%= transData.wishlist[i].vendorCode %>">
                  <h5 class="card-title"><%= transData.wishlist[i].name %></h5>
                </a>
  
                <div class="row">
           
                  <div class="col-lg-4">
                    <button type="button" name="dell-item-from-wishlist-button" class="btn btn-danger btn-sm" id="<%= transData.wishlist[i].vendorCode %>">Удалить из списка</button>
                  </div>
                  <div class="col-lg-4">
                    <h6 class="text-muted">Артикул: <%= transData.wishlist[i].vendorCode %></h6>
                  </div>
                  
                </div>

              </div>
            </div>
          </div>
       
          <% }; %>
          <% }; %>
          <!-- /MAIN CONTENT HERE: -->
        </div>
      </div>
            <!-- Footer -->
            <% include ../layout/lay_site_5_footer.ejs %>
            <!-- Footer -->
    </div>
    <!-- /CONTAINER: -->

    <% include ../layout/lay_site_4_bottomscripts.ejs %>
  </body>
</html>
