<!DOCTYPE html>

<html lang="en">
  <% include layout/lay_site_1_head.ejs %>

  <body>
    <% include layout/lay_site_2_navigation.ejs %>

    <!-- CONTAINER: -->
    <div class="container">
      <br /><br />

      <div class="row">
        <!--Grid column-->
        <div class="col-md-7 mb-4">
          <div class="view overlay z-depth-1-half">
            <img
              src="/pictures/mainpage/slider/slide1.jpg"
              class="card-img-top"
              alt=""
            />
            <div class="mask rgba-white-light"></div>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-5 mb-4">
          <h2>Cамый умный клуб для тех, кто работает с металлом</h2>
          <hr />
          <p>
            <a href="/shop">
            <span class="fas fa-shopping-cart px-3"></span>
            Интернет-магазин
          </a>
          </p>
          <p>
              <a href="/publications">
              <span class="fas fa-newspaper px-3"></span> Блог и
              новости отрасли
            </p>
          </a>
          <p>
            <span class="fas fa-comments px-3"></span>
            Пространство для обмены опытом
          </p>

          <h5>
            Мы сделаем все, чтобы удовлетворить ваши производственные нужды!
          </h5>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
<H2 class="my-3">Популярное в магазине:</H2>
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">
          <!--Card-->
          <div class="card">
            <!--Card image-->
            <div class="view overlay">
              <a href="/shop/instrument/slesarnyy-instrument-nozhi-napilniki">
                <img
                  src="/pictures/mainpage/instrument.jpg"
                  class="card-img-top"
                  alt="Инструмент для сварки"
                />
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Инструмент</h4>
              <!--Text-->
              <p class="card-text">
                Предлагаем высококачественное оборудование и инструменты для
                сварочных работ.
              </p>
              <a
                href="/shop/instrument/slesarnyy-instrument-nozhi-napilniki"
                class="btn btn-primary btn-sm"
                >Подробнее...</a
              >
            </div>
          </div>
          <!--/.Card-->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">
          <!--Card-->
          <div class="card">
            <!--Card image-->
            <div class="view overlay">
              <a href="/shop/instrument/sverlilnye-i-shlifovalnye-rashodniki">
                <img
                  src="/pictures/mainpage/rashodniki.jpg"
                  class="card-img-top"
                  alt="Расходники для сварки"
                />
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Расходники</h4>
              <!--Text-->
              <p class="card-text">
                Широкий выбор расходных материалов для качества и эффективности
                вашего производства.
              </p>
              <a
                href="/shop/instrument/sverlilnye-i-shlifovalnye-rashodniki"
                class="btn btn-primary btn-sm"
                >Подробнее...</a
              >
            </div>
          </div>
          <!--/.Card-->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">
          <!--Card-->
          <div class="card">
            <!--Card image-->
            <div class="view overlay">
              <a href="/shop/instrument/perchatki-ochki-respiratory-i-dr">
                <img
                  src="/pictures/mainpage/zashita.jpg"
                  class="card-img-top"
                  alt="Средства для индивидуальной защиты"
                />
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Защита</h4>
              <!--Text-->
              <p class="card-text">
                Современные средства индивидуальной защиты позаботятся о
                безопасности ваших процесов.
              </p>
              <a
                href="/shop/instrument/perchatki-ochki-respiratory-i-dr"
                class="btn btn-primary btn-sm"
                >Подробнее...</a
              >
            </div>
          </div>
          <!--/.Card-->
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->

      <div style="text-align: center" class="py-3">
        <a href="/shop" class="btn btn-info btn-lg"
          ><span class="fas fa-th-list avesomePaddingRight"> </span> Каталог
          товаров</a
        >
      </div>
      <br />

      <div style="background-color: #e4e4e4; border: 1px solid #2FA4E7;">
        <div class="container">
          <div class="row py-3 d-flex align-items-center ">
            <!-- Grid column -->
            <div
              class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0"
            >
              <h5 class="mb-0 pl-4">Закажите обратный звонок!</h5>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 col-lg-7 text-center text-md-right">
              <form role="form" method="post" class="register">
                <fieldset>
                  <div class="row">
                    <div class="col-md-4 py-2">
                      <input
                        class="form-control"
                        placeholder="Имя"
                        name="name"
                        type="name"
                        id="callmebackform-name"
                      />
                    </div>

                    <div class="col-md-4 py-2">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">+38</span>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Ваш телефон"
                          name="phonenumber"
                          id="callmebackform-phonenumber"
                        />
                      </div>
                    </div>
                    <div class="col-md-4 py-2">
                      <!-- Change this to a button or input when using this as a form -->
                      <a
                        class="register-button btn btn-primary btn-block"
                        id="callmebackform-button"
                        >Презвоните мне!</a
                      >
                    </div>
                  </div>
                </fieldset>
              </form>
              <div id="callmebackform-error-msg"></div>
            </div>
            <!-- Grid column -->
          </div>
        </div>
      </div>
      <!-- Grid row-->
      <br />
      <h2 class="py-4">Свежее в блоге</h2>
      <div class="row">
        <% transData.publicationsObj.forEach(function(publication) { %>

        <div class="col-md-4 mb-4">
          <!--Card-->
          <div class="card">
            <!--Card image-->
            <div class="view overlay">
              <a href=<%= "/publications/" + publication.alias %>>
                <img src=<%=publication.picture%> class="card-img-top"
                alt="<%=publication.title%>" />
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title"><%=publication.title%></h4>
              <!--Text-->
              <p class="card-text">
                <%=publication.shorttext%>
              </p>
              <a
                href=<%= "/publications/" + publication.alias %>
                class="btn btn-primary btn-sm"
                >Подробнее...</a
              >
            </div>
          </div>
          <!--/.Card-->
        </div>
        <%})%>
      </div>
      <!-- Footer -->
      <% include layout/lay_site_5_footer.ejs %>
      <!-- Footer -->
    </div>

    <!-- /CONTAINER: -->

    <% include layout/lay_site_4_bottomscripts.ejs %>
  </body>
</html>

<div
  class="modal fade"
  id="callmebackformMessageModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Ваше сообщение отправлено!
        </h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>Спасибо,<br />наши менеджеры свяжутся с Вами в ближайшее время!</p>
      </div>

      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-success btn-lg">Ок</button>
      </div>
    </div>
  </div>
</div>
