<% include layout/header.ejs %>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <br />
      <% include layout/myprofile_sidebar_left.ejs %>
    </div>

    <div class="col-lg-8">
      <br />
      <H1>Мой профиль</H1>

      <table class="table table-hover">
        <tbody>
          <tr>
            <th scope="row">ID пользователя</th>
            <td><%= transData.user._id %></td>
          </tr>
          <tr>
            <th scope="row">Группа</th>
            <td><%= transData.user.group %></td>
          </tr>
          <tr>
            <th scope="row">Логин</th>
            <td><%= transData.user.login %></td>
          </tr>

          <tr>
            <th scope="row">Имя</th>
            <td><%= transData.user.name %></td>
            <td>
              <button
                type="button"
                class="btn btn-primary btn-sm"
                data-toggle="modal"
                data-target="#userChangeNameModal"
              >
                <span class="fas fa-edit avesomePaddingRight"></span>Изменить
              </button>
            </td>
          </tr>

          <tr>
            <th scope="row">E-mail</th>
            <td><%= transData.user.email %></td>
            <td>
              <button
                type="button"
                class="btn btn-primary btn-sm"
                data-toggle="modal"
                data-target="#userChangeEmailModal"
              >
                <span class="fas fa-edit avesomePaddingRight"></span>Изменить
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">Номер телефона</th>
            <td>+38<%= transData.user.phonenumber %></td>
            <td>
              <button
                type="button"
                class="btn btn-primary btn-sm"
                data-toggle="modal"
                data-target="#userChangePhoneNumberModal"
              >
                <span class="fas fa-edit avesomePaddingRight"></span>Изменить
              </button>
            </td>
          </tr>

          <tr>
            <th scope="row">Пароль</th>
            <td>Не отображается</td>
            <td>
              <button
                type="button"
                class="btn btn-primary btn-sm"
                data-toggle="modal"
                data-target="#userChangePasswordModal"
              >
                <span class="fas fa-edit avesomePaddingRight"></span>Изменить
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">Дата регистрации</th>
            <td><%= transData.user.createdAt %></td>
          </tr>
          <tr>
            <th scope="row">Последнее изменение</th>
            <td><%= transData.user.updatedAt %></td>
          </tr>
        </tbody>
      </table>

      <br />

      <br />
    </div>
  </div>
</div>
<% include layout/myprofile_modals.ejs %> <% include layout/footer.ejs %>
