<!DOCTYPE html>

<html lang="en">
  <% include ../layout/lay_site_1_head.ejs %>

  <body>
    <% include ../layout/lay_site_2_navigation.ejs %>

    <!-- CONTAINER: -->
    <div class="container">
       <!-- breadcrumb: -->
       <ol class="breadcrumb breadcrumb-K8-adapted">
          <li class="breadcrumb-item">
            <a href="/">
              Главная</a>
          </li>
          <li class="breadcrumb-item">
              <a href="/forum">
                Форум</a>
            </li>
          <li class="breadcrumb-item active">
              <%= transData.section.title %>
          </li>
        </ol>
        <!-- /breadcrumb: -->

      <h1><%= transData.section.title %></h1>
      <% if (transData.user.group) { %>
        <div class="forum-top-buttons">
          <a
            id="forumAddNewTopicInit"
            class="btn btn-primary btn-sm mb-3"
            href="/forum/addnewtopic/<%= transData.section.alias %>"
          >
            <span class="fas fa-file-alt avesomePaddingRight"></span>Новая тема
        </a>
        </div>
        <% } else { %> <br />
        <% } %>

      <table class="gTable" width="100%" cellspacing="1" cellpadding="0" border="1" bgcolor="#FFFFFF">
        <tbody>

          <tr>
            <td colspan="2" class="gTableSubTop" width="8%">&nbsp;
            </td>
            <td class="gTableSubTop" align="left">Тема
             </td>
            <td class="gTableSubTop" width="7%" align="center">Ответы
             </td>

            <td class="gTableSubTop" width="14%" align="center">Автор темы
             </td>
            <td class="gTableSubTop" width="21%" align="left">Обновления
              </td>
          </tr>
              
          <% for (let i = 0; i<transData.topicsList.length; i++) { %>
          <tr id="tt138">

            <td class="threadIcoTd" width="4%" align="center">

              <%if (transData.topicsList[i].isHot) { %>
                <img
                  alt=""
                  src="/images/forum/template/f_norm_new.gif"
                  title="Есть новые сообщения"
                />
                  <% } else {%>
                    <img
                    alt=""
                    src="/images/forum/template/f_norm_nonew.gif"
                    title="Нет новых сообщений"
                  />
                    <% } %>
            </td>

            <td class="threadIcoTd" width="4%" align="center">

                 <%if (transData.topicsList[i].postsCount > 2) { %>
                    <img alt="" src="/images/forum/template/hot.gif" title="Горячая тема">
                  <% } else {%>
                    <img alt="" src="/images/forum/template/thread.gif" title="Обычная тема">
                  <% } %>

              
            </td>
            <td class="threadNametd">
              <a class="threadLink" href="/forum/topic/<%=transData.topicsList[i].alias%>"><%=transData.topicsList[i].title%></a>
              <div class="threadDescr"><%=transData.topicsList[i].shorttext%></div>
            </td>
            <td class="threadPostTd" align="center"><%=transData.topicsList[i].postsCount%></td>
            <td class="threadAuthTd" align="center"><a class="threadAuthorLink" href="javascript://" rel="nofollow" onclick="window.open('/profile/user/<%=transData.topicsList[i].author%>', 'up58', 'scrollbars=1,top=0,left=0,resizable=1,width=700,height=375'); return false;"><%=transData.topicsList[i].author%></a></td>
            
            <td class="threadLastPostTd">
                <% if(transData.topicsList[i].lastPost) { %>
              <a title="К теме" class="forumLastPostLink" href="/forum/topic/<%=transData.topicsList[i].alias%>"><%=transData.topicsList[i].lastPost.createdAt%></a>
     
              <br>Сообщение от: <span class="lastPostUser"><a class="lastPostUserLink" href="javascript://" rel="nofollow" onclick="window.open('/profile/user/<%=transData.topicsList[i].lastPost.author%>', 'up27', 'scrollbars=1,top=0,left=0,resizable=1,width=700,height=375'); return false;"><%=transData.topicsList[i].lastPost.author%></a></span>
              <% } %>
            </td>

          </tr>
<%}%>
          
        
        <tr><td class="threadsDetails" colspan="7">В этом форуме тем: <b><%= transData.topicsList.length %></b>. </td></tr>
       </tbody>
      </table>






      <br />
      <!-- Footer -->
      <% include ../layout/lay_site_5_footer.ejs %>
      <!-- Footer -->
    </div>

    <!-- /CONTAINER: -->

    <% include ../layout/lay_site_4_bottomscripts.ejs %>
  </body>
</html>
