<!DOCTYPE html>

<html lang="en">
  <% include ../layout/lay_site_1_head.ejs %>

  <body>
    <% include ../layout/lay_site_2_navigation.ejs %>

    <!-- CONTAINER: -->
    <div class="container">
      <br />

      <h1>Форум</h1>

      <% if (transData.user.group == "Administrator") { %>
      <div class="forum-top-buttons">
        <button
          id="forumAddNewSectionModalInit"
          class="btn btn-primary btn-sm mb-3"
        >
          <span class="fas fa-folder-plus avesomePaddingRight"></span>Новый
          раздел
        </button>
      </div>
      <% } else { %> <br />
      <% } %>

  

      <table
        class="gTable"
        width="100%"
        cellspacing="1"
        cellpadding="0"
        border="1"
        bgcolor="#FFFFFF"
      >
        <tbody>
          <tr>
            <td class="gTableSubTop" width="5%">&nbsp;</td>
            <td class="gTableSubTop">Разделы</td>
            <td class="gTableSubTop" width="8%" align="center">Темы</td>
            <td class="gTableSubTop" width="8%" align="center">Ответы</td>
            <td class="gTableSubTop" width="30%">Обновления</td>
            <% if (transData.user.group == "Administrator") { %>
            <td class="gTableSubTop" width="8%">Управление</td>
            <% } %>
          </tr>


          <% for (let i = 0; i<transData.sections.length; i++) { %>
          <tr>
            <td class="forumIcoTd" align="center">
              <img
                alt=""
                src="/images/forum/template/br_nonew.gif"
                title="Нет новых сообщений"
              />
            </td>
            <td class="forumNameTd">
                <a id="sectiontitle<%= transData.sections[i]._id %>" class="forum" href="/forum/section/<%= transData.sections[i].alias %>"><%= transData.sections[i].title %></a>
  
                <div id="sectiondescription<%= transData.sections[i]._id %>" class="forumDescr"><%= transData.sections[i].description %></div>
              </td>
            <td class="forumThreadTd" align="center">52</td>
            <td class="forumPostTd" align="center">143</td>
            <td class="forumLastPostTd">
              <a
                title="К последнему сообщению"
                class="forumLastPostLink"
                href="/forum/2-138-0-17"
                >Вторник, 12.12.2017, 19:09</a
              >
              <a href="/forum/2-138-0-17-1"
                ><img
                  alt=""
                  title="К первому непрочитанному сообщению"
                  src="/images/forum/template/lastpost.gif"
              /></a>
              <br />Тема:
              <a class="forumLastPostLink" href="/forum/2-138-1"
                >Услуги по сварке! ...</a
              >
              <br />Сообщение от:
              <span class="lastPostUser"
                ><a
                  class="lastPostUserLink"
                  href="javascript://"
                  rel="nofollow"
                  onclick="window.open('/index/8-0-savich', 'up67', 'scrollbars=1,top=0,left=0,resizable=1,width=700,height=375'); return false;"
                  >savich</a
                ></span
              >
            </td>
            <% if (transData.user.group == "Administrator") { %>
            <td class="forumIcoTd" align="center">
                <button
                name="forum-admin-delete-one-section"
                value="<%= transData.sections[i]._id %>"
                type="button"
                class="btn btn-danger btn-xs">
                  <i class="fa fa-times fa-fw"></i> Del
                </button>

                <button
                name="forum-admin-edit-one-section"
                id="forumEditSectionModalInit"
                value="<%= transData.sections[i]._id %>"
                type="button"
                class="btn btn-primary btn-xs">
                  <i class="fa fa-edit fa-fw"></i> Edit
                </button>
            </td>
            <% } %>
          </tr>
          <% } %>


        </tbody>
      </table>

      <br />
      <!-- Footer -->
      <% include ../layout/lay_site_5_footer.ejs %>
      <!-- Footer -->
    </div>

    <!-- /CONTAINER: -->

    <% include ../layout/lay_site_4_bottomscripts.ejs %>
  </body>
</html>

<!-- Modal forumAddNewSection -->
<div
  class="modal fade"
  id="forumAddNewSectionModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="forumAddNewSectionModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="forumAddNewSectionModalLabel">
          Добавление нового раздела
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="form-control-label">Название</label>
          <input type="text" class="form-control" id="forumNewSectionTitle" />
        </div>

        <div class="form-group">
          <label class="form-control-label">Короткое описание</label>

          <textarea
            class="form-control input"
            rows="3"
            style="resize:none"
            id="forumNewSectionDescription"
          ></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button
          id="forumAddNewSectionButton"
          type="button"
          class="btn btn-primary"
        >
          Добавить
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal forumEditSection -->
<div
  class="modal fade"
  id="forumEditSectionModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="forumEditSectionModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="forumEditSectionModalLabel">
          Редактирование раздела
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="form-control-label">Название</label>
          <input type="text" class="form-control" id="forumEditSectionTitle" />
        </div>

        <div class="form-group">
          <label class="form-control-label">Короткое описание</label>

          <textarea
            class="form-control input"
            rows="3"
            style="resize:none"
            id="forumEditSectionDescription"
          ></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button
          id="forumEditSectionButton"
          type="button"
          class="btn btn-primary"
        >
          Сохранить
        </button>
      </div>
    </div>
  </div>
</div>