<!DOCTYPE html>

<html lang="en">
<% include ../layout/lay_site_1_head.ejs %>

<body>
  <% include ../layout/lay_site_2_navigation.ejs %>

  <!-- CONTAINER: -->
  <div class="container">
    <br />

    <h1>Форум</h1>
    <h3><%= transData.topic.sectiontitle %></h3>
    <br />
    <table class="gTable" width="100%" cellspacing="1" cellpadding="0" border="0">
      <tbody>

        <tr>
          <td class="gTableTop">
            <div style="float:right" class="gTopCornerRight"></div>
            <%= transData.topic.title %>
          </td>
        </tr>

        <tr>
          <td class="postFirst">
            <table class="postTable" width="100%" cellspacing="1" cellpadding="2" border="0">
              <tbody>
                <tr>
                  <td class="postTdTop" width="23%" align="center"><a class="postUser" href="javascript://"
                      rel="nofollow" onclick=""><%= transData.topic.author %></a></td>
                  <td class="postTdTop">Дата: <%= transData.topic.date %> | Сообщение # 1
                  </td>
                </tr>
                <tr>
                  <td class="postTdInfo" valign="top">
                    <div class="postRankName"></div>

                    <div class="postRankIco"></div>
                    <div class="postUserGroup">Группа: <%= transData.topic.authorgroup %></div>

                  </td>
                  <td class="posttdMessage" style="word-wrap: break-word;" valign="top">


                    <!-- Image -->
                    <div class="border-primary"
                      >
                    
                  <img
                    data-toggle="modal"
                    data-target="#bigPictureModalTopic"
                    style="display: block; cursor: pointer; width: 220px"
                    src="<%= transData.topic.picture %>"
                    alt="<%= transData.topic.title %>"
                    onerror="this.style.display = 'none'"
                  />
  


                  <!-- Modal bigPictureModal -->
                  <div
                  class="modal fade bd-example-modal-lg"
                  id="bigPictureModalTopic"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="bigPictureModalTopicLabel"
                  aria-hidden="true"
                  >
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h6 class="modal-title" id="bigPictureModalTopicLabel"><%= transData.topic.title %></h6>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                          aria-label="Close"
                        >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body modal-body-bigPictureModal"><img class="img-bigPictureModal" src="<%= transData.topic.picture %>"
                        alt="<%= transData.topic.title %>" onerror="this.style.display = 'none'"/></div>
                      <div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть просмотр</button></div>
                    </div>
                  </div>
                  </div>







                      <%- transData.topic.fulltext %>
                    


                  </td>
                </tr>
                <tr>
                  <td class="postBottom" align="center">&nbsp;</td>
                  <td class="postBottom">
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                      <tbody>
                        <tr>
                          <td></td>
                          <td style="padding-right:15px;" align="right">

                            <% if ((transData.user.group) && (transData.user.group=='Administrator')) { %>
                                <button
                                name="forum-admin-delete-one-topic"
                                value="<%= transData.topic._id %>"
                                type="button"
                                class="btn btn-danger btn-xs">
                                  <i class="fa fa-times fa-fw"></i> Del Topic
                                </button>

                                <button
                                name="forum-admin-edit-one-topic"
                                value=""
                                type="button"
                                class="btn btn-primary btn-xs">
                                  <i class="fa fa-edit fa-fw"></i> Edit
                                </button>
                            <% } %>

                            </td>
                          <td width="2%" nowrap="" align="right">
                              <a
                              class="btn btn-success btn-xs"
                              href="javascript:scroll(0,0);">
                              <i class="fa fa-angle-double-up fa-fw"></i>
                              </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

<% for (let i = 0; i < transData.posts.length; i++ ) { %>
        <tr>
          <td class="postSeparator">
            <img src="/.s/src/crit_image.js?v=5"></img>
          </td>
        </tr>

        <tr>
          <td class="postRest2">
            <table class="postTable" width="100%" cellspacing="1" cellpadding="2" border="0">
              <tbody>
                <tr>
                  <td class="postTdTop" width="23%" align="center"><a class="postUser" href="javascript://"
                      rel="nofollow" onclick=""><%= transData.posts[i].author %></a></td>
                  <td class="postTdTop">Дата: <%= transData.posts[i].date %> | Сообщение # <%= i+2 %>
                  </td>
                </tr>
                <tr>
                  <td class="postTdInfo" valign="top">
                    <div class="postRankName"></div>

                    <div class="postRankIco"></div>
                    <div class="postUserGroup">Группа: <%= transData.posts[i].authorgroup %></div>






                  </td>
                  <td class="posttdMessage" style="word-wrap: break-word;" valign="top">
                    
                    <!-- Image -->
                    <div class="border-primary">
                    
                  <img
                    data-toggle="modal"
                    data-target="#bigPictureModal<%= i %>"
                    style="display: block; cursor: pointer; width: 220px"
                    src="<%= transData.posts[i].picture %>"
                    alt="<%= transData.posts[i].topicalias %>"
                    onerror="this.style.display = 'none'"
                  />
  


                  <!-- Modal bigPictureModal -->
                  <div
                  class="modal fade bd-example-modal-lg"
                  id="bigPictureModal<%= i %>"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="bigPictureModal<%= i %>Label"
                  aria-hidden="true"
                  >
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h6 class="modal-title" id="bigPictureModal<%= i %>Label">Изображение поста</h6>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                          aria-label="Close"
                        >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body modal-body-bigPictureModal"><img class="img-bigPictureModal" src="<%= transData.posts[i].picture %>"
                        alt="<%= transData.posts[i].topicalias %>" onerror="this.style.display = 'none'"/></div>
                      <div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть просмотр</button></div>
                    </div>
                  </div>
                  </div>



                  <!-- fulltext -->
                </div>
                    <%- transData.posts[i].fulltext %>

                  </td>
                </tr>
                <tr>
                  <td class="postBottom" align="center">&nbsp;</td>
                  <td class="postBottom">

                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                      <tbody>
                        <tr>
                          <td></td>
                          <td style="padding-right:15px;" align="right">
                          
                              <% if ((transData.user.group) && (transData.user.group=='Administrator')) { %>

                                <button
                                name="forum-admin-delete-one-post"
                                value="<%= transData.posts[i]._id %>"
                                type="button"
                                class="btn btn-danger btn-xs">
                                  <i class="fa fa-times fa-fw"></i> Del
                                </button>

                                <button
                                name="forum-admin-edit-one-post"
                                value="<%= transData.posts[i]._id %>"
                                type="button"
                                class="btn btn-primary btn-xs">
                                  <i class="fa fa-edit fa-fw"></i> Edit
                                </button>

                                <% } %>
                          
                          </td>
                          <td width="2%" nowrap="" align="right">
                            <a
                            class="btn btn-success btn-xs"
                            href="javascript:scroll(0,0);">
                            <i class="fa fa-angle-double-up fa-fw"></i>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

<% } %>



        

      </tbody>
    </table>

    <br />

    <% if ((typeof(transData) != 'undefined') && transData.user.login &&
      transData.user._id) { %>
      
      
    <div class="panel panel-default">
        <div class="panel-heading">Добавить пост</div>
        <div class="panel-body">
          <div id="new-post-error-msg"></div>

          <!-- FORM FOR FILE SENDING -->

          <form
            method="POST"
            enctype="multipart/form-data"
            id="addnewpostform"
          >
            <!-- adminaddnewpublfulltext -->
            <div class="form-group">
              <div id="addnewpostfulltext"></div>
            </div>
            <!-- adminaddnewpublfulltext -->

            <div class="row">
              <div class="col-lg-6">
                  <label for="file">Изображение для поста</label>
                  <input
                    type="file"
                    name="file"
                    aria-describedby="fileHelp"
                    id="file"
                  />
                  <small id="fileHelp" class="form-text text-muted"
                    >Используйте изображения формата .JPG или .GIF не
                    превышающие по размеру 5мБ.</small
                  >
                  <input
                    class="form-control"
                    name="newPostTopicAlias"
                    type="hidden"
                    id="new-post-topic-alias"
                    value="<%= transData.topic.alias %>"
                  />
                  <input
                    class="form-control"
                    name="newPostAuthorName"
                    type="hidden"
                    id="new-post-user"
                    value="<%= transData.user.login %>"
                  />
                  <input
                    class="form-control"
                    name="newPostAuthorGroup"
                    type="hidden"
                    id="new-post-user-group"
                    value="<%= transData.user.group %>"
                  />

              </div>
              <div class="col-lg-6">
                <button
                  class="upload-button btn btn-primary btn-block"
                  id="forumtopicaddbutton"
                >
                  Добавить пост
                </button>
              </div>
            </div>
          </form>

          <!-- /FORM FOR FILE SENDING -->
        </div>
      </div>

      <% } else { %>
        <div class="alert alert-dismissible alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h4 class="alert-heading">Внимание</h4>
          <p class="mb-0">Вы сможете писать на форуме если зарегистрируетесь или войдете в свой профиль.</p>
        </div>
      <% } %>
    <!-- Footer -->
    <% include ../layout/lay_site_5_footer.ejs %>
    <!-- Footer -->
  </div>

  <!-- /CONTAINER: -->

  <% include ../layout/lay_site_4_bottomscripts.ejs %>
</body>

</html>