<div id="toorder-error-msg"></div>

<form role="form" method="post" class="toorder" id="shopcartcheckout">
  <fieldset>
    <div class="card border-success mb-3">
      <div class="card-header">Оформление заказа</div>
      <div class="card-body">
        <!-- name -->
        <div class="form-group">
          <input
            class="form-control"
            required
            placeholder="Имя"
            name="name"
            type="name"
            id="toorder-name"
            value="<% if (transData.user.group) { %><%= transData.user.name %><% } %>"
            <% if (transData.user.group && transData.user.group !== 'Registered') { %> disabled="" <% } %>
            />
        </div>
        <!-- login -->
        <div class="form-group">
          <input
            class="form-control"
            placeholder="Логин"
            name="login"
            type="hidden"
            id="toorder-login"
            value="<% if (transData.user.group) { %><%= transData.user.login %><% } %>"
          />
        </div>

        <!-- _id -->
        <div class="form-group">
          <input
            class="form-control"
            placeholder="_id"
            name="_id"
            type="hidden"
            id="toorder-_id"
            value="<% if (transData.user.group) { %><%= transData.user._id %><% } %>"
          />
        </div>

        <!-- group -->
        <div class="form-group">
          <input
            class="form-control"
            placeholder="Группа"
            name="group"
            type="hidden"
            id="toorder-group"
            value="<% if (transData.user.group) { %><%= transData.user.group %><% } else { %>Guest<% } %>"
          />
        </div>

        <!-- customer -->
        <div class="form-group">
          <input
            class="form-control"
            placeholder="Заказчик"
            name="customer"
            type="<% if (!transData.user.group || transData.user.group == 'Registered') { %>hidden<% } else { %>text<% } %>"
            id="toorder-customer"
            value=""
          />
        </div>

        <!-- email -->
        <div class="form-group">
          <input
            class="form-control"
            placeholder="E-mail"
            name="email"
            type="<% if (!transData.user.group || transData.user.group == 'Registered') { %>email<% } else { %>hidden<% } %>"
            id="toorder-email"
            value="<% if (transData.user.group) { %><%= transData.user.email %><% } %>"
          />
        </div>

        <!-- phonenumber -->
        <div
          class="form-group"
          <% if (transData.user.group && transData.user.group !== 'Registered') { %> style="display: none;" <% } %>
        >
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">+38</span>
            </div>
            <input
              type="tel"
              class="form-control"
              placeholder="0671234567   Телефон"
              name="phonenumber"
              id="toorder-phonenumber"
              value="<% if (transData.user.group) { %><%= transData.user.phonenumber %><% } %>"
              required
            />
          </div>
        </div>

        <!-- deliveryType -->
        <div class="form-group"
        <% if (transData.user.group && transData.user.group !== 'Registered') { %> style="display: none;" <% } %>
        >
          <select class="custom-select" id="delivery-type-select" required>
            <option hidden>Выберите способ доставки</option>
            <option value="1">Отделение Новой Почты</option>
            <option value="2">Курьером по адресу</option>
            <option value="3">Самовывоз</option>
          </select>
        </div>

        <!-- deliveryCity -->
        <div class="form-group " style="display: none;" id="city-select-div">
          <select
            data-placeholder="Выберите город..."
            class="city-select custom-select"
            tabindex="2"
            id="cities-select"
          >
            <option value=""></option>
            <% for (let i = 0; i < transData.cities.length; i++) { %>
            <option value="<%= transData.cities[i].DescriptionRu %>"
              ><%= transData.cities[i].DescriptionRu %></option
            >
            <% } %>
          </select>
        </div>

        <!-- deliveryDepartment -->
        <div
          class="form-group "
          style="display: none;"
          id="department-select-div"
        >
          <select
            data-placeholder="Выберите отделение..."
            class="department-select custom-select"
            tabindex="2"
            id="departments-select"
          >
          <option value=""></option>
          </select>
        </div>

        <!-- paymentMethod -->
        <div class="form-group"
        <% if (transData.user.group && transData.user.group !== 'Registered') { %> style="display: none;" <% } %>
        >
          <select class="custom-select" id="payment-method-select">
            <option hidden>Выберите способ оплаты</option>
            <option value="1">Наложенный платеж</option>
            <option value="2">Безналичный расчет</option>
            <option value="3">Оплата на карту Приват банка</option>
          </select>
        </div>

        <!-- ordercomment -->
        <div class="form-group">
          <textarea
            class="form-control"
            id="ordercomment"
            rows="3"
            style="height: 60px;"
            placeholder="Комментарий к заказу..."
          ></textarea>
        </div>

        <!-- BUTTON -->
        <button
          type="submit"
          class="toorder-button btn btn-lg btn-success btn-block"
          id="toorder-button"
        >
          Заказать
        </button>
      </div>
    </div>
  </fieldset>
</form>
