<div class="vertnavbar vertnavbar-expand-lg vertnavbar-light">
  <button
    class="vertnavbar-toggler btn-block k8-cats-toggler-btn"
    type="button"
    data-toggle="collapse"
    data-target="#sidebarShopCats"
    aria-controls="sidebarShopCats"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="vertnavbar-toggler-icon"></span> Категории
  </button>

  <div class="collapse vertnavbar-collapse" id="sidebarShopCats">
    <!-- ******************************************* -->

    <div class="form-group">
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="search-form-error-msg"></div>
          <input
            id="mainsearch-input"
            class="form-control"
            type="text"
            placeholder="Поиск.."
            name="search"
          />
          <div class="input-group-append">
            <button
              id="mainsearch-button"
              class="btn btn-primary"
              type="submit"
            >
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <% transData.shopCategoriesArr.forEach(function(item){ %> <% if
    (!item.catFatherId && !item.catHasChildren) { %>

    <a
      class="btn btn-primary btn-sm btn-block btn-shop-categories-nav"
      href="/shop/<%= item.catAlias %>"
      role="button"
    >
      <%= item.catName %>
    </a>

    <% } else if (!item.catFatherId && item.catHasChildren) {%>

    <div class="d-none d-md-block">
      <div
        class="btn-group btn-block "
        role="group"
        aria-label="Button group with nested dropdown"
      >
        <a
          role="button"
          class="btn btn-primary btn-sm btn-block btn-shop-categories-nav"
          href="/shop/<%= item.catAlias %>"
        >
          <%= item.catName %>
        </a>

        <div class="btn-group" role="group">
          <button
            id="btnGroupDrop1"
            type="button"
            class="btn btn-primary dropdown-toggle  btn-sm btn-shop-categories-nav"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          ></button>

          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <% transData.shopCategoriesArr.forEach(function(subItem){ %> <% if
            (subItem.catFatherId == item.catId) { %>

            <a
              class="dropdown-item"
              href="/shop/<%= item.catAlias %>/<%= subItem.catAlias %>"
              ><%= subItem.catName %></a
            >
            <% }}) %>
          </div>
        </div>
      </div>
    </div>
    <div class="d-md-none">
      <a
        class="btn btn-primary btn-sm btn-block btn-shop-categories-nav"
        href="/shop/<%= item.catAlias %>"
        role="button"
      >
        <%= item.catName %>
      </a>
    </div>

    <% } %> <% }); %>

    <!-- ******************************************* -->
  </div>
</div>

<!-- ******************************************* -->
<% include lay_shop_cart_modal_window.ejs %>
