<!DOCTYPE html>

<html lang="en">
  <% include ../layout/lay_site_1_head.ejs %>

  <body>
    <% include ../layout/lay_site_2_navigation.ejs %>

    <!-- CONTAINER: -->
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <br />
          <% include lay_shop_sidebar.ejs %>
        </div>

        <div class="col-lg-9">
          <!-- MAIN CONTENT HERE: -->

          <br />
          <H1>Каталог товаров</H1>

          <% transData.shopItemsArr.forEach(function(item){ %>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-5">
                <div class="border-primary">
                  <img
                    style="width: 100%; display: block;"
                    src="<%= '/import_foto/' + (item.picture).slice(13) %>"
                    alt="Card image"
                  />
                </div>
              </div>

              <div class="col-lg-7">
                <a href="/shop/<%= item.vendorCode %>">
                  <h5 class="card-title"><%= item.name %></h5>
                </a>

                <div class="row">
                  <div class="col-lg-4">
                    <div class="cart-uah"><%= item.price %> грн</div>
                  </div>
                  <div class="col-lg-4">
                    <h6 class="text-muted">Артикул: <%= item.vendorCode %></h6>
                  </div>
                  <div class="col-lg-4">
                    <h6
                      class="text-muted jq-stock-<%= item.vendorCode %>"
                      value="<%= item.stock %>"
                    >
                      Остаток: <%= item.stock %>
                    </h6>
                  </div>
                </div>

                <div class="shopcart-and-wishlist-buttons">
                  <div class="cart-amount btn-group">
                    <button
                      name="cart-amount-minus"
                      type="button"
                      class="btn btn-secondary btn-sm jq-btn-minus-<%= item.vendorCode %>"
                      id="<%= item.vendorCode %>"
                    >
                      <span class="fas fa-minus"></span>
                    </button>

                    <input
                      type="number"
                      min="1"
                      max="<%= item.stock %>"
                      step="1"
                      name="<%= item.vendorCode %>"
                      id="555"
                      class="cart-amount-input"
                      value="1"
                    />

                    <button
                      name="cart-amount-plus"
                      type="button"
                      class="btn btn-secondary btn-sm jq-btn-plus-<%= item.vendorCode %>"
                      id="<%= item.vendorCode %>"
                    >
                      <span class="fas fa-plus"></span>
                    </button>
                  </div>

                  <button
                    name="add-item-to-shopcart-button"
                    type="button"
                    class="btn btn-success btn-sm item-add-to-shopcart-button"
                    id="<%= item.vendorCode %>"
                  >
                    В Корзину
                  </button>

                  <button
                    name="add-item-to-wishlist-button"
                    type="button"
                    class="btn btn-warning btn-sm item-add-to-wishlist-button"
                    id="<%= item.vendorCode %>"
                  >
                    <span class="fas fa-heart"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <% }); %>

          <!-- /MAIN CONTENT HERE: -->
        </div>
      </div>
    </div>
    <!-- /CONTAINER: -->

    <% include ../layout/lay_site_4_bottomscripts.ejs %>
  </body>
</html>
