<!DOCTYPE html>

<html lang="en">
  <% include ../layout/lay_site_1_head.ejs %>

  <body>
    <% include ../layout/lay_site_2_navigation.ejs %>

    <!-- CONTAINER: -->
    <div class="container">
      <% if (!transData.shopCart || !transData.shopCart.length) { %> <br />
      <H3>Ваша корзина пуста</H3>
      <br />
      <form action="/shop">
        <button type="submit" class="btn btn-success">
          <span class="fas fa-gift avesomePaddingRight"></span>За покупками!
        </button>
      </form>
      <% } else { %>
      <div class="row">
        <div class="col-lg-8">
          <br />

          <div class="card border-success mb-3">
            <h3 class="card-header">Корзина</h3>
            <div class="card-body">
              <div class="shopcart-items-table">
                <% let totalSumm = 0; %> <%
                transData.shopCart.forEach(function(item){ %> <% totalSumm +=
                item.price*item.quantity; %>
                <div
                  class="row shopcart-one-item-row"
                  id="div_line_<%= item.vendorCode %>"
                >
                  <div class="col-lg-1">
                    <button
                      name="shop-cart-line-one-item-del"
                      type="button"
                      class="btn btn-outline-warning btn-sm cart-del-button"
                      id="<%= item.vendorCode %>"
                    >
                      <span class="fas fa-times"></span>
                    </button>
                  </div>

                  <div class="col-lg-3">
                    <div class="border-primary">
                      <img
                        style="width: 100%; max-width: 200px; display: block;"
                        src="<%= '/import_foto/' + (item.picture).slice(13) %>"
                        alt="Card image"
                      />
                    </div>
                  </div>

                  <div class="col-lg-8">
                    <a href="/shop/<%= item.vendorCode %>">
                      <h6 class="card-title"><%= item.name %></h6>
                    </a>

                    <div class="row">
                      <div class="col-lg-6">
                        <h6 class="text-muted">
                          Артикул: <%= item.vendorCode %>
                        </h6>
                      </div>
                      <% if (transData.user.group == "Administrator" ||
                      transData.user.group == "Manager" || transData.user.group
                      == "Agent") { %>
                      <div class="col-lg-6">
                        <h6
                          class="text-muted jq-stock-<%= item.vendorCode %>"
                          value="<%= item.stock %>"
                        >
                          Остаток: <%= item.stock %>
                        </h6>
                      </div>
                      <% } %>
                    </div>
                    <div class="shopcart-row-price-and-quantity">
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="cart-uah"><%= item.price %> грн</div>
                        </div>

                        <div class="col-lg-4">
                          <div class="cart-amount btn-group">
                            <button
                              name="cart-line-amount-minus"
                              type="button"
                              class="btn btn-secondary btn-sm jq-btn-minus-<%= item.vendorCode %>"
                              id="<%= item.vendorCode %>"
                            >
                              <span class="fas fa-minus"></span>
                            </button>

                            <input
                              type="number"
                              min="1"
                              max="<%= item.stock %>"
                              step="1"
                              name="<%= item.vendorCode %>"
                              class="cart-line-amount-input"
                              value="<%= item.quantity %>"
                            />

                            <button
                              name="cart-line-amount-plus"
                              type="button"
                              class="btn btn-secondary btn-sm jq-btn-plus-<%= item.vendorCode %>"
                              id="<%= item.vendorCode %>"
                            >
                              <span class="fas fa-plus"></span>
                            </button>
                          </div>
                        </div>

                        <div class="col-lg-4">
                          <div
                            class="cart-list-newItemSumm jq-div-itemsumm<%= item.vendorCode %>"
                          >
                            <%= (item.quantity*item.price).toFixed(2) %> грн
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <% }); %>
              </div>
            </div>
            <div class="card-footer">
              <!-- Summ: -->
              <div class="row">
                <div class="col-lg-7">
                  <H5 class="cart-all-items-quantity-insert"></H5>
                </div>
                <div class="col-lg-5">
                  <div class="cart-total-label">
                    <div class="cart-total-sum" name="total">
                      <span class="cart-total-title">Итого:</span>

                      <span class="cart-total-uah">
                        <span name="cost" id="cart-total"
                          ><%= totalSumm.toFixed(2) %></span
                        >
                        &nbsp; <span class="cart-total-uah-sign">грн</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /Summ: -->
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <br />
          <% include lay_orderform.ejs %>
        </div>
      </div>
      <% } %>
    </div>
    <!-- /CONTAINER: -->
    <% include lay_success_order_modal.ejs %> <% include
    ../layout/lay_site_4_bottomscripts.ejs %>
    <script src="/vendor/chosen/chosen.jquery.js"></script>
    <script src="/javascripts/scriptsK8choseninit.js"></script>
    <link href="/vendor/chosen/chosen.css" rel="stylesheet" />
  </body>
</html>
