<!DOCTYPE html>

<html lang="en">
<% include ../layout/lay_site_1_head.ejs %>

<body>
  <% include ../layout/lay_site_2_navigation.ejs %>

  <!-- CONTAINER: -->
  <div class="container">

    <div class="row">
      <div class="col-lg-3">
        <br />
        <% include lay_shop_sidebar.ejs %>
      </div>

      <div class="col-lg-9">
        <!-- MAIN CONTENT HERE: -->

        <!-- breadcrumb: -->
        <ol class="breadcrumb breadcrumb-K8-adapted">
          <% for (var i = 0; i<transData.breadcrumbArr.length; i++) { %>
          <% if(transData.breadcrumbArr[i].active) { %>
          <li class="breadcrumb-item active">
            <%= transData.breadcrumbArr[i].name %>
          </li>
          <%} else {%>
          <li class="breadcrumb-item"><a href="<%= transData.breadcrumbArr[i].url %>">
              <%= transData.breadcrumbArr[i].name %></a></li>
          <% } %>
          <% } %>
        </ol>
        <!-- /breadcrumb: -->
        
        <H2>
          <%= transData.shownItem.name %>
        </H2>

        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="border-primary"
                    data-toggle="modal"
                    data-target="#bigPictureModal">
                  
                <img style="display: block; cursor: pointer;" src="<%= transData.shownItem.picture_220x220 %>"
                  alt="<%= transData.shownItem.name %>" onerror="this.style.display = 'none'"/>

              </div>
            </div>

            <div class="col-lg-6">

              <div class="row">
                <div class="col-lg-6">
                  <h6 class="text-muted">Артикул:
                    <%= transData.shownItem.vendorCode %>
                  </h6>
                </div>
                <div class="col-lg-6">
                  <h6 class="text-muted jq-stock-<%= transData.shownItem.vendorCode %>" value="<%= transData.shownItem.stock %>">
                    Остаток:
                    <%= transData.shownItem.stock %>
                  </h6>
                </div>
              </div>
              <br><br>
              <div class="cart-uah">
                  <span id="price<%= transData.shownItem.vendorCode %>">
                    <%= transData.shownItem.price.toFixed(2) %>
                  </span>
                  грн
              </div>
              <div class="cart-uah-base-line-through" <% if (+transData.discount == 0) { %> style = "display: none" <% } %>>
                <span id="basePrice<%= transData.shownItem.vendorCode %>">
                  <%= transData.shownItem.basePrice.toFixed(2) %>
                </span>
                грн
              </div>
              <div class="shopcart-and-wishlist-buttons">
                <div class="cart-amount btn-group">
                  <button name="cart-amount-minus" type="button" class="btn btn-secondary btn-sm jq-btn-minus-<%= transData.shownItem.vendorCode %>"
                    id="<%= transData.shownItem.vendorCode %>">
                    <span class="fas fa-minus"></span>
                  </button>

                  <input type="number" min="1" max="<%= transData.shownItem.stock %>" step="1" name="<%= transData.shownItem.vendorCode %>"
                    id="555" class="cart-amount-input" value="1" />

                  <button name="cart-amount-plus" type="button" class="btn btn-secondary btn-sm jq-btn-plus-<%= transData.shownItem.vendorCode %>"
                    id="<%= transData.shownItem.vendorCode %>">
                    <span class="fas fa-plus"></span>
                  </button>
                </div>

                <button name="add-item-to-shopcart-button" type="button" class="btn btn-success btn-sm item-add-to-shopcart-button"
                  id="<%= transData.shownItem.vendorCode %>">
                  В Корзину
                </button>
                <% if ((typeof(transData) != 'undefined') && transData.user.login &&
                transData.user._id) { %>
                <button name="add-item-to-wishlist-button" type="button" class="btn btn-warning btn-sm item-add-to-wishlist-button"
                  id="<%= transData.shownItem.vendorCode %>">
                  <span class="fas fa-heart"></span>
                </button>
                <% } %>

              </div>
            </div>
          </div>
        </div>





        <!-- TABS: -->

        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#itemDescription">Описание</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#itemCharacteristics">Характеристики</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#itemTestimonials">Отзывы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Видео</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Dropdown</a
            >
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade show active" id="itemDescription">
            <p>
              Raw denim you probably haven't heard of them jean shorts Austin.
              Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache
              cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
              butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi,
              qui irure terry richardson ex squid. Aliquip placeat salvia cillum
              iphone. Seitan aliquip quis cardigan american apparel, butcher
              voluptate nisi qui.
            </p>
          </div>

          <div class="tab-pane fade" id="itemCharacteristics">
            <p>
              Отзывы
            </p>
          </div>

          <div class="tab-pane fade" id="itemTestimonials">
              <br>
              <div class="card border-success mb-3">
                  <h4 class="card-header">Оставить отзыв</h4>
                  <div class="card-body">
                    <div id="newTestimonial-error-msg"></div>
                      <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group">
                              <label class="col-form-label" for="newTestimonialAuthorName">Имя</label>
                              <input type="text" class="form-control" placeholder="Ваше имя" id="newTestimonialAuthorName">
                            </div>
                            <div class="form-group">
                               <input type="hidden" id="newTestimonialItemVendorCode"  value="<%= transData.shownItem.vendorCode %>">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                              <label for="newTestimonialContent">Содержимое отзыва</label>
                              <textarea class="form-control" id="newTestimonialContent" rows="2"></textarea>
                            </div>
                        </div>
                      </div>

                    
                  </div>
                  <div class="modal-footer">
                    <!-- Button: -->
                    <button id="newtestimonial-button" type="button" class="btn btn-primary">Отправить</button>
                    <!-- /Button: -->
                  </div>
              </div>
              
           <% if(transData.testimonialArr.length) { %>
              <%for (let i = 0; i< transData.testimonialArr.length; i++) { %>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><%= transData.testimonialArr[i].authorname %></h5>
                  <p class="card-text"><%= transData.testimonialArr[i].content %></p>
                </div>
              </div>
              <br>
              <% } %>
          <% } %>   
          </div>





          <div class="tab-pane fade" id="dropdown1">
            <p>
              Etsy mixtape wayfarers, ethical wes anderson tofu before they sold
              out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table
              readymade. Messenger bag gentrify pitchfork tattooed craft beer,
              iphone skateboard locavore carles etsy salvia banksy hoodie
              helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit
              cred pitchfork.
            </p>
          </div>
          <div class="tab-pane fade" id="dropdown2">
            <p>
              Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art
              party before they sold out master cleanse gluten-free squid
              scenester freegan cosby sweater. Fanny pack portland seitan DIY, art
              party locavore wolf cliche high life echo park Austin. Cred vinyl
              keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table
              VHS viral locavore cosby sweater.
            </p>
          </div>
        </div>

        <!-- Modal bigPictureModal -->
        <div
          class="modal fade bd-example-modal-lg"
          id="bigPictureModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="bigPictureModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h6 class="modal-title" id="bigPictureModalLabel"><%= transData.shownItem.name %></h6>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body modal-body-bigPictureModal"><img class="img-bigPictureModal" src="<%= transData.shownItem.picture_800x800 %>"
                alt="<%= transData.shownItem.name %>" onerror="this.style.display = 'none'"/></div>
              <div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть просмотр</button></div>
            </div>
          </div>
        </div>


        <!-- /MAIN CONTENT HERE: -->
      </div>
    </div>
  </div>
  <!-- /CONTAINER: -->

<!-- addNewTestimonialModal -->
<div
  class="modal fade"
  id="addNewTestimonialModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="headerAddNewTestimonialModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="headerAddNewTestimonialModal">Спасибо, отзыв отправлен!</h5>
      </div>
      <div class="modal-body">Ваш отзыв будет опубликован в течении 24ч.</div>
      <div class="modal-footer"><button type="button" id="finishAddNewTestimonial" class="btn btn-success">Ok</button></div>
    </div>
  </div>
</div>
<!-- /addNewTestimonialModal -->


  <% include ../layout/lay_site_4_bottomscripts.ejs %>
</body>

</html>