<!DOCTYPE html>

<html lang="en">
  <% include ../layout/lay_site_1_head.ejs %>

  <body>
    <% include ../layout/lay_site_2_navigation.ejs %>

    <!-- CONTAINER: -->
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <br />
          <% include lay_shop_sidebar.ejs %>
        </div>

        <div class="col-lg-9">
          <!-- MAIN CONTENT HERE: -->
          <!-- breadcrumb: -->
          <ol class="breadcrumb breadcrumb-K8-adapted">             
              <% for (var i = 0; i<transData.breadcrumbArr.length; i++) { %>
                  <% if(transData.breadcrumbArr[i].active) { %> 
                    <li class="breadcrumb-item active"><%= transData.breadcrumbArr[i].name %></li>
                  <%} else {%>  
                    <li class="breadcrumb-item"><a href="<%= transData.breadcrumbArr[i].url %>"><%= transData.breadcrumbArr[i].name %></a></li>           
                  <% } %>
              <% } %>             
          </ol>
          <!-- /breadcrumb: -->
          <H2><%= transData.shownCat.catName %></H2>

          <% transData.shownCatItems.forEach(function(item){ %>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-5">
                <div class="border-primary">
                  <img
                    style="width: 100%; display: block;"
                    src="<%= '/import_foto/' + (item.picture).slice(13) %>"
                    alt="Card image"
                  />
                </div>
              </div>
              <div class="col-lg-7">
                <a href="/shop/<%= item.vendorCode %>"
                  ><h5 class="card-title"><%= item.name %></h5></a
                >

                <h6 class="text-muted">Артикул: <%= item.vendorCode %></h6>
                <h6 class="text-muted">Цена: <%= item.price %>грн.</h6>
                <h6 class="text-muted">Остаток: <%= item.stock %></h6>

                <button 
                  name="add-item-to-shopcart-button" 
                  type="button" 
                  class="btn btn-success btn-sm"
                  id = "<%= item.vendorCode %>"
                  value = '1'
                  >
                  В Корзину
                </button>
              </div>
            </div>
          </div>
          <% }); %>

          <!-- /MAIN CONTENT HERE: -->
        </div>
      </div>
    </div>
    <!-- /CONTAINER: -->

    <% include ../layout/lay_site_4_bottomscripts.ejs %>
  </body>
</html>
