<!DOCTYPE html>

<html lang="en">
<% include ../layout/lay_site_1_head.ejs %>

<body>
  <% include ../layout/lay_site_2_navigation.ejs %>

  <!-- CONTAINER: -->
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <br />
        <% include lay_shop_sidebar.ejs %>
      </div>

      <div class="col-lg-9">
        <!-- MAIN CONTENT HERE: -->
        <!-- breadcrumb: -->
        <ol class="breadcrumb breadcrumb-K8-adapted">
          <% for (var i = 0; i<transData.breadcrumbArr.length; i++) { %>
          <% if(transData.breadcrumbArr[i].active) { %>
          <li class="breadcrumb-item active">
            <%= transData.breadcrumbArr[i].name %>
          </li>
          <%} else {%>
          <li class="breadcrumb-item"><a href="<%= transData.breadcrumbArr[i].url %>">
              <%= transData.breadcrumbArr[i].name %></a></li>
          <% } %>
          <% } %>
        </ol>
        <!-- /breadcrumb: -->
        <H2>
          <%= transData.shownCat.catName %>
        </H2>
        <% if (transData.shownCat.catHasChildren) {%>
        <% var subCatsArr = [];
          transData.shopCategoriesArr.forEach(function(item){
            if (item.catFatherId == transData.shownCat.catId) { subCatsArr.push(item); } }); %>
        <% var n=subCatsArr.length; var rest = n%3; var rows = (n-rest)/3; %>

        <% for (i=0; i<rows; i++) { %>
            <div class="row">
              <div class="col-lg-4 tile-subcategory-bloc">
    
                <div class="border-primary">
                  <a href="/shop/<%= subCatsArr[i*3+0].catAlias %>">
                    <img style="width: 100%; display: block;"
                      src="<%= '/import_foto/' + (subCatsArr[i*3+0].catPicture).slice(13) %>" alt="Card image"
                      onerror="this.style.display = 'none'" />
                  </a>
                </div>
                <a class="tile-subcategory-name" href="/shop/<%= subCatsArr[i*3+0].catAlias %>">
                <%= subCatsArr[i*3+0].catName %>
              </a>
              </div>
              <div class="col-lg-4 tile-subcategory-bloc">
                <div class="border-primary">
                  <a href="/shop/<%= subCatsArr[i*3+1].catAlias %>">
                    <img style="width: 100%; display: block;"
                      src="<%= '/import_foto/' + (subCatsArr[i*3+1].catPicture).slice(13) %>" alt="Card image"
                      onerror="this.style.display = 'none'" />
                  </a>
                </div>
                <a class="tile-subcategory-name" href="/shop/<%= subCatsArr[i*3+1].catAlias %>">
                <%= subCatsArr[i*3+1].catName %>
              </a>
              </div>
              <div class="col-lg-4 tile-subcategory-bloc">
                <div class="border-primary">
                  <a href="/shop/<%= subCatsArr[i*3+2].catAlias %>">
                    <img style="width: 100%; display: block;"
                      src="<%= '/import_foto/' + (subCatsArr[i*3+2].catPicture).slice(13) %>" alt="Card image"
                      onerror="this.style.display = 'none'" />
                  </a>
                </div>
                <a class="tile-subcategory-name" href="/shop/<%= subCatsArr[i*3+2].catAlias %>">
                <%= subCatsArr[i*3+2].catName %>
              </a>
              </div>
            </div>
            <%}%>
                      <div class="row">
                          <div class="col-lg-4 tile-subcategory-bloc"><% if (rest > 0) { %>
            <div class="border-primary">
              <a href="/shop/<%= subCatsArr[(rows)*3+0].catAlias %>">
                <img style="width: 100%; display: block;"
                  src="<%= '/import_foto/' + (subCatsArr[(rows)*3+0].catPicture).slice(13) %>" alt="Card image"
                  onerror="this.style.display = 'none'" />
              </a>
            </div>
            <a class="tile-subcategory-name" href="/shop/<%= subCatsArr[(rows)*3+0].catAlias %>">
            <%= subCatsArr[(rows)*3+0].catName %>
          </a>
            <% } %>
          
          </div>
          <div class="col-lg-4 tile-subcategory-bloc"><% if (rest > 1) { %>
            <div class="border-primary">
              <a href="/shop/<%= subCatsArr[(rows)*3+1].catAlias %>">
                <img style="width: 100%; display: block;"
                  src="<%= '/import_foto/' + (subCatsArr[(rows)*3+1].catPicture).slice(13) %>" alt="Card image"
                  onerror="this.style.display = 'none'" />
              </a>
            </div>
            <a class="tile-subcategory-name" href="/shop/<%= subCatsArr[(rows)*3+1].catAlias %>"></a>
            <%= subCatsArr[(rows)*3+1].catName %>
          </a>
            <% } %>
          </div>
          <div class="col-lg-4 tile-subcategory-bloc"></div>
        </div>





        <%}%>

        <% transData.shownCatItems.forEach(function(item){ %>

        <div class="card-body">
          <div class="row">

            <div class="col-lg-5">
              <div class="border-primary">
                <img style="width: 100%; display: block;" src="<%= '/import_foto/' + (item.picture).slice(13) %>" alt="Card image" onerror="this.style.display = 'none'"/>
              </div>
            </div>

            <div class="col-lg-7">

              <a href="/shop/<%= item.vendorCode %>">
                <h5 class="card-title">
                  <%= item.name %>
                </h5>
              </a>

              <div class="row">
                <div class="col-lg-4">
                  <div class="cart-uah">
                    <%= item.price %> грн</div>
                </div>
                <div class="col-lg-4">
                  <h6 class="text-muted">Артикул:
                    <%= item.vendorCode %>
                  </h6>

                </div>
                <div class="col-lg-4">

                  <h6 class="text-muted jq-stock-<%= item.vendorCode %>" value="<%= item.stock %>">Остаток:
                    <%= item.stock %>
                  </h6>
                </div>
              </div>


              <div class="shopcart-and-wishlist-buttons">

                <div class="cart-amount btn-group">

                  <button name="cart-amount-minus" type="button" class="btn btn-secondary btn-sm jq-btn-minus-<%= item.vendorCode %>" id="<%= item.vendorCode %>">
                    <span class="fas fa-minus"></span>
                  </button>

                  <input type="number" min="1" max="<%= item.stock %>" step="1" name="<%= item.vendorCode %>" id="555"
                    class="cart-amount-input" value="1" />

                  <button name="cart-amount-plus" type="button" class="btn btn-secondary btn-sm jq-btn-plus-<%= item.vendorCode %>" id="<%= item.vendorCode %>">
                    <span class="fas fa-plus"></span>
                  </button>

                </div>

                <button name="add-item-to-shopcart-button" type="button" class="btn btn-success btn-sm item-add-to-shopcart-button"
                  id="<%= item.vendorCode %>">
                  В Корзину
                </button>

                <button name="add-item-to-wishlist-button" type="button" class="btn btn-warning btn-sm item-add-to-wishlist-button"
                  id="<%= item.vendorCode %>">
                  <span class="fas fa-heart"></span>
                </button>

              </div>


            </div>
          </div>
        </div>
        <% }); %>

        <!-- /MAIN CONTENT HERE: -->
      </div>
    </div>
  </div>
  <!-- /CONTAINER: -->

  <% include ../layout/lay_site_4_bottomscripts.ejs %>
</body>

</html>