<!DOCTYPE html>

<html lang="en">
  <% include ../layout/lay_site_1_head.ejs %>

  <body>
    <% include ../layout/lay_site_2_navigation.ejs %>

    <!-- CONTAINER: -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <br />

          <div class="card mb-3">
            <h3 class="card-header">Корзина</h3>
            <div class="card-body">
              <h5 class="card-title">Товары в корзине:</h5>

              <div class="shopcart-items-table">
                <% transData.shopCart.forEach(function(item){ %>

                <div class="row shopcart-one-item-row">
                  <div class="col-lg-1">
                    <button
                      name="shop-cart-new-item-del"
                      type="button"
                      class="btn btn-outline-warning btn-sm cart-del-button"
                      id="12846"
                    >
                      <span class="fas fa-times"></span>
                    </button>
                  </div>

                  <div class="col-lg-3">
                    <div class="border-primary">
                      <img
                        style="width: 100%; display: block;"
                        src="<%= '/import_foto/' + (item.picture).slice(13) %>"
                        alt="Card image"
                      />
                    </div>
                  </div>

                  <div class="col-lg-8">
                    <a href="/shop/<%= item.vendorCode %>">
                      <h6 class="card-title"><%= item.name %></h6>
                    </a>

                    <div class="row">
                      <div class="col-lg-6">
                        <h6 class="text-muted">
                          Артикул: <%= item.vendorCode %>
                        </h6>
                      </div>
                      <div class="col-lg-6">
                        <h6
                          class="text-muted jq-stock-<%= item.vendorCode %>"
                          value="<%= item.stock %>"
                        >
                          Остаток: <%= item.stock %>
                        </h6>
                      </div>
                    </div>
                    <div class="shopcart-row-price-and-quantity">
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="cart-uah"><%= item.price %> грн</div>
                        </div>

                        <div class="col-lg-4">
                          <div class="cart-amount btn-group">
                            <button
                              name="cart-amount-minus"
                              type="button"
                              class="btn btn-secondary btn-sm jq-btn-minus-<%= item.vendorCode %>"
                              id="<%= item.vendorCode %>"
                            >
                              <span class="fas fa-minus"></span>
                            </button>

                            <input
                              type="number"
                              min="1"
                              max="<%= item.stock %>"
                              step="1"
                              name="<%= item.vendorCode %>"
                              id="555"
                              class="cart-amount-input"
                              value="1"
                            />

                            <button
                              name="cart-amount-plus"
                              type="button"
                              class="btn btn-secondary btn-sm jq-btn-plus-<%= item.vendorCode %>"
                              id="<%= item.vendorCode %>"
                            >
                              <span class="fas fa-plus"></span>
                            </button>
                          </div>
                        </div>

                        <div class="col-lg-4">
                          <div class="cart-list-newItemSumm" id="newItemSumm">
                            <%= (item.quantity*item.price).toFixed(2) %> грн
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <% }); %>
              </div>
            </div>
            <div class="card-footer">
              <!-- Summ: -->
              <div class="row">
                <div class="col-lg-8">
                  <H5 class="cart-all-items-quantity-insert">2222</H5>
                </div>
                <div class="col-lg-4">
                  <div class="cart-total-label">
                    <div class="cart-total-sum" name="total">
                      <span class="cart-total-title">Итого:</span>
                      <span class="cart-total-uah"
                        ><span name="cost" id="cart-total">111</span>&nbsp;<span
                          class="cart-total-uah-sign"
                          >грн</span
                        ></span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- /Summ: -->
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <br />
          <div class="card mb-3">
            <h3 class="card-header">Оформление заказа</h3>
            <div class="card-body">
              <h5 class="card-title">Подзаголовок</h5>
              <p>Агент:</p>
              <b><%= transData.user.login %></b>
              <div class="form-group">
                <p>Клиент:</p>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Клиент"
                  id="inputDefault"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /CONTAINER: -->

    <% include ../layout/lay_site_4_bottomscripts.ejs %>
  </body>
</html>
