<nav class="navbarTopk8 navbar-expand-lg navbar-dark bg-primary-topk8">
  <div class="container">
    <div class="navbar-topk8-tel">
      <div
        class="telefon-topk8"
        data-toggle="modal"
        data-target="#headerContactsModal"
      >
        <span class="fas fa-phone avesomePaddingRight"></span> (067) 32-67-467
      </div>
    </div>
    <div class="navbar-topk8-usermenu">
      <% if ((typeof(transData) != 'undefined') && transData.user.login &&
      transData.user._id) { %>
      <span class="fas fa-user avesomePaddingRight"></span>
      <a class="my-profile-link-k8" href="/profile/myprofile"
        ><%= transData.user.login %></a
      >
      <span
        class="fas fa-sign-out-alt avesomePaddingRight avesomePaddingLeft"
      ></span>
      <a class="my-profile-link-k8" href="/api/auth/logout">Выход</a> <% } else
      { %> <span class="fas fa-sign-in-alt avesomePaddingRight"></span>
      <a class="my-profile-link-k8" href="/login">Войдите в личный кабинет</a>
      <% } %>
    </div>
  </div>
</nav>

<nav class="navbar sticky-top  navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/images/logo.png" alt="BOHMANN" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/shop">Каталог товаров</a>
        </li>
      </ul>
      <form action="/shopcart">
        <button type="submit" class="btn btn-success btn-shopcart-header">
          <span class="fas fa-shopping-cart avesomePaddingRight"></span>Корзина

          <span class="badge badge-pill badge-shop-k8 badge-warning">
            <div id="topshopbuttonitemsquantity">
              <% if ((typeof(transData) != 'undefined') && transData.shopCart) {
              %> <%= transData.shopCart.length %> <% } else { %> 0 <% } %>
            </div>
          </span>
        </button>
      </form>
      <button type="button" class="btn btn-warning btn-wishlist-header">
        <span class="fas fa-heart"></span>
      </button>
      
      <% if ((typeof(transData) != 'undefined') &&
      transData.showDiscountChooser) { %>
      <form>
        <select
          class="custom-select select-discount-header"
          id="select-discount-header"
          disabled=""
        >
          <option <% if (!transData.discount) { %> selected="" <% } %> value="0">Базовая</option>
          <option <% if (transData.discount == 1) { %> selected="" <% } %> value="1">Кат. 1 (-<%= transData.priceSettings.skidka1 %>%)</option>
          <option <% if (transData.discount == 2) { %> selected="" <% } %> value="2">Кат. 2 (-<%= transData.priceSettings.skidka2 %>%)</option>
          <option <% if (transData.discount == 3) { %> selected="" <% } %> value="3">Кат. 3 (-<%= transData.priceSettings.skidka3 %>%)</option>
        </select>
      </form>
      <% } %>
    </div>
  </div>
</nav>

<!-- Modal -->
<div
  class="modal fade"
  id="headerContactsModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="headerContactsModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="headerContactsModalLabel">Контакты</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">...Текст гоус хіре</div>
      <div class="modal-footer">somthing in footer</div>
    </div>
  </div>
</div>

<!-- loading-overlay -->
<div id="loading-overlay">
  <div class="banter-loader">
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
  </div>
</div>
