<!DOCTYPE html>
<html lang="ru">
  <% include lay_adm_1_head.ejs %>
  <body>
    <div id="wrapper">
      <% include lay_adm_2_navigation.ejs %>

      <!-- #page-wrapper -->
      <div id="page-wrapper">
        <div class="row">
          <div class="col-lg-12"><h1 class="page-header">Публикации</h1></div>
          <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-lg-12">
            <form action="/administrator/publications/add">
              <button type="submit" class="btn btn-success btn-sm">
                <span class="fa fa-plus fa-fw"></span>Добавить публикацию
              </button>
            </form>
          </div>
        </div>
        <br />

        <!-- MAIN CONTENT HERE: -->
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">Список публикаций</div>

              <div class="panel-body">
                <!-- PAGINATION -->
                <%var len = transData.publicationsObj.length; var rest =
                len%transData.itemsPerPage; var fullPages =
                (len-rest)/transData.itemsPerPage; var pages = fullPages+1; %>
                <%if (len>transData.itemsPerPage) { %>

                <div class="items-pagination">
                  <ul class="pagination">
                    <li
                      class="page-item <%if (transData.page == 1) { %> disabled <%}%>"
                    >
                      <a class="page-link" href="?page=1">&laquo;</a>
                    </li>

                    <% for (var i = 1; i<=pages; i++) { %> <% var lWide = 3; var
                    rWide = 3; %> <% if (transData.page == 1) rWide = 5; if
                    (transData.page == 2) rWide = 4;%> <% if (transData.page ==
                    +pages) lWide = 5; if (transData.page == +pages-1) lWide =
                    4;%> <% if ( ( i > (+transData.page-lWide) ) && ( i <
                    (+transData.page+rWide) ) ){ %>
                    <li
                      class=" page-item <%if (transData.page == i) { %> active <%}%>"
                    >
                      <a class="page-link" href="?page=<%=i%>"><%=i%></a>
                    </li>
                    <%}%> <%}%>

                    <li
                      class="page-item <%if (transData.page == pages) { %> disabled <%}%>"
                    >
                      <a class="page-link" href="?page=<%=pages%>">&raquo;</a>
                    </li>
                  </ul>
                </div>
                <%}%>
                <!-- /PAGINATION -->

                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Статус</th>
                      <th scope="col">Заголовок</th>
                      <th scope="col">Дата создания</th>
                      <th scope="col">Действия</th>
                    </tr>
                  </thead>
                  <tbody>

                    <% for (var i = transData.page*transData.itemsPerPage-transData.itemsPerPage; i<transData.publicationsObj.length; i++ ) {%>
                    <%if (i<transData.page*transData.itemsPerPage) {%>


                    <tr>
                      <th scope="row">
                        <% if (transData.publicationsObj[i].status == "Опубликовано") { %>
                        <i class="fa fa-eye fa-fw"></i> <% } else if
                        (transData.publicationsObj[i].status == "Неопубликовано") { %>
                        <i class="fa fa-eye-slash fa-fw"></i> <% } else { %>
                        <i class="fa fa-trash-o fa-fw"></i> <% } %>
                      </th>
                      <td><%= transData.publicationsObj[i].title %></td>
                      <td><%= transData.publicationsObj[i].formatedTime %></td>

                      <td>
                        <button
                          name="admin-publications-list-edit-one"
                          value="<%= transData.publicationsObj[i].alias %>"
                          type="button"
                          class="btn btn-primary btn-xs"
                        >
                          <i class="fa fa-pencil fa-fw"></i> Edit
                        </button>

                        <button
                          name="admin-publications-list-del-one"
                          value="<%= transData.publicationsObj[i].alias %>"
                          type="button"
                          class="btn btn-danger btn-xs"
                        >
                          <i class="fa fa-times fa-fw"></i> Del
                        </button>
                      </td>
                    </tr>

                    <% } %>
                    <% }; %>



                  </tbody>
                </table>
                <!-- PAGINATION -->
                <%var len = transData.publicationsObj.length; var rest =
                len%transData.itemsPerPage; var fullPages =
                (len-rest)/transData.itemsPerPage; var pages = fullPages+1; %>
                <%if (len>transData.itemsPerPage) { %>

                <div class="items-pagination">
                  <ul class="pagination">
                    <li
                      class="page-item <%if (transData.page == 1) { %> disabled <%}%>"
                    >
                      <a class="page-link" href="?page=1">&laquo;</a>
                    </li>

                    <% for (var i = 1; i<=pages; i++) { %> <% var lWide = 3; var
                    rWide = 3; %> <% if (transData.page == 1) rWide = 5; if
                    (transData.page == 2) rWide = 4;%> <% if (transData.page ==
                    +pages) lWide = 5; if (transData.page == +pages-1) lWide =
                    4;%> <% if ( ( i > (+transData.page-lWide) ) && ( i <
                    (+transData.page+rWide) ) ){ %>
                    <li
                      class=" page-item <%if (transData.page == i) { %> active <%}%>"
                    >
                      <a class="page-link" href="?page=<%=i%>"><%=i%></a>
                    </li>
                    <%}%> <%}%>

                    <li
                      class="page-item <%if (transData.page == pages) { %> disabled <%}%>"
                    >
                      <a class="page-link" href="?page=<%=pages%>">&raquo;</a>
                    </li>
                  </ul>
                </div>
                <%}%>
                <!-- /PAGINATION -->
              </div>
            </div>
          </div>
        </div>
        <!-- /MAIN CONTENT HERE: -->
      </div>
      <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <% include lay_adm_4_bottomscripts.ejs %>
  </body>
</html>
