<% include lay_admin_header_part_1.ejs %> <% include lay_admin_header_part_2.ejs
%> <% include lay_admin_header_part_3.ejs %>

<!-- /---------------------------------- -->

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <br />
      <% include lay_admin_sidebar_left.ejs %>
    </div>

    <div class="col-lg-9">
      <!-- /---------------------------------- -->

      <!-- /---------------------------------- -->

      <br />

      <H3>Пользователи</H3>

      <form action="/administrator/users/add">
        <button type="submit" class="btn btn-success btn-sm">
          <span class="fas fa-user-plus avesomePaddingRight"></span>Добавить
          пользователя
        </button>
      </form>

      <br />
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Логин</th>
            <th scope="col">Имя</th>
            <th scope="col">E-mail</th>
            <th scope="col">Телефон</th>
            <th scope="col">Группа</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% transData.usersObj.forEach(function(user){ %>
          <tr>
            <th scope="row"><%= user.login %></th>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.phonenumber %></td>
            <td><%= user.group %></td>
            <td>
              <form action="/administrator/users/edit/<%= user.login %>">
                <button type="submit" class="btn btn-primary btn-sm">
                  <span class="fas fa-user-edit"></span>
                </button>
              </form>
            </td>
            <td>
              <button
                name="admin-users-del-one"
                value="<%= user.login %>"
                type="button"
                class="btn btn-danger btn-sm"
              >
                <span class="fas fa-trash"></span>
              </button>
            </td>
          </tr>

          <% }); %>
        </tbody>
      </table>

      <br />
    </div>
  </div>
</div>
<% include ../layout/footer.ejs %>
